.fifth-block {
  margin-bottom: 140px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-100%);
    transition-duration: 1s;

    &.anim {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 14px;

    .swiper-pagination-current {
      opacity: 1;
    }

    span {
      opacity: .6;
    }
  }

  &__swiper-btn {
    background-color: inherit;

    &.prev {
      transform: rotate(180deg);
    }

    
  }

  // .fifth-block__title
  &__title {
    margin-bottom: 60px;
  }

  // .fifth-block__slider
  &__slider {
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 1s;

    &.anim {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // .fifth-block__element
  &__element {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  // .fifth-block__avatar
  &__avatar {
    max-width: 320px;
    margin-bottom: 28px;

    img {
      width: 100%;
    }
  }

  // .fifth-block__name
  &__name {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
  }

  // .fifth-block__rank
  &__rank {
    opacity: .6;
    text-align: center;
    margin-bottom: 20px;
  }


}


.swiper {

}

.swiper-wrapper {

}

.swiper-slide {
}

.button-sm {
}

.swiper-scrollbar {
}