@import "../colors";

.fourth-block {
  padding-bottom: 200px;
  @media screen and (max-width: 639px) {
    padding-bottom: 7.5rem;
  }
  // .fourth-block__title
  &__title {
    max-width: 806px;
    position: relative;
    margin-bottom: 54px;
    opacity: 0;
    transform: translateX(-100%);
    transition-duration: 1s;
    @media screen and (max-width: 639px) {
      max-width: none;
      margin-bottom: 9.25rem;
      display: flex;
      flex-direction: column;
      gap: .75rem;
    }

    &.anim {
      transform: translateX(0);
      opacity: 1;
    }

    span {
      color: $blue;
      max-width: 280px;
      width: 100%;
      position: absolute;
      bottom: 7px;
      left: 301px;

      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-transform: none;
      @media screen and (max-width: 639px) {
        position: relative;
        bottom: auto;
        left: auto;
        max-width: none;
      }
    }
  }

  // .fourth-block__table
  &__table {

  }

  &__table-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;

    @media screen and (max-width: 639px) {
      display: flex;
    }
  }

  // .fourth-block__element
  &__element {
    background-image: url("../../img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

    display: flex;
    align-items: flex-start;

    font-weight: 500;
    opacity: 0;
    transition-duration: .4s;

    &.anim {
      opacity: 1;
    }


    .number {
      padding: 12px;
      margin-right: 16px;
      font-weight: 600;
      background-color: white;
      border-radius: 40px;

      line-height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_1 {
      transition-delay: .7s;
    }

    &_2 {
      transition-delay: .9s;
    }


    // .fourth-block__element_3
    &_3 {
      grid-column: 3;

      grid-row-start: 1;
      grid-row-end: 3;
      transition-delay: 1.3s;
    }

    &_4 {
      transition-delay: 1.5s;
    }

    &_5 {
      transition-delay: 1.1s;
    }

    &_6 {
      transition-delay: 1.7s;
    }

    // .fourth-block__element_7
    &_7 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row: 3;
      transition-delay: .5s;

      .fourth-block__text {
        max-width: 446px;
      }
    }
  }

  // .fourth-block__text
  &__text {
  }

  // .fourth-block__image
  &__image {
    position: absolute;
    max-width: 400px;
    height: auto;

    bottom: 0;
    right: -62px;
    transition-duration: 1s;
    transition-delay: 2s;
    opacity: 0;
    transform: translateX(100%);
    @media screen and (max-width: 639px) {
      display: none;
    }

    &.anim {
      transform: translateX(0);
      opacity: 1;
    }

    img {
      width: 100%;
    }
  }
}
