@import "../colors";

.main-block {
  padding-top: 26px;
  padding-bottom: 130px;
  background-image: url("../../img/background-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // .main-block__row
  &__row {
    display: flex;
    flex-direction: column;
    max-width: 542px;
  }

  // .main-block__logo
  &__logo {
    max-width: 245px;
    margin-bottom: 62px;

    img {
      width: 100%;
    }
  }

  // .main-block__description
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .main-block__title
  &__title {
    display: flex;
    flex-direction: column;
    font-size: 60px;

    margin-bottom: 24px;
    transition-duration: 1s;
    transform: translateX(-100%);
    opacity: 0;

    &.anim {
      transform: translateX(0);
      opacity: 1;
    }

    span {
      &:first-child {
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  // .main-block__text
  &__text {
    text-align: center;
    margin-bottom: 40px;
    transform: translateX(-100%);
    transition-duration: 1.2s;
    transition-delay: .8s;
    opacity: 0;

    &.anim {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // .main-block__buttons
  &__buttons {
    display: flex;
    gap: 16px;
    transform: translateY(100%);
    transition-duration: 1.2s;
    transition-delay: 1.3s;
    opacity: 0;

    &.anim {
      transform: translateY(0);
      opacity: 1;
    }

  }
}